{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"printWidth": 120,
	"singleAttributePerLine": false,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
