name: CI

on:
  push:
    branches:
      - '**'
    tags:
      - '!**' # Avoid running twice for commits with tags
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  FORCE_COLOR: 3

jobs:
  lint-test:
    name: Lint and Test
    runs-on: macos-latest
    steps:
      - name: Install optipng
        run: brew install optipng

      - name: Checkout
        uses: actions/checkout@v5

      - name: Use Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Audit
        run: npm audit --omit dev

      - name: Lint
        run: npm run lint

      - name: Build
        run: npm run build

      - name: Test
        run: npm run test

      - name: Generate coverage
        run: npm run test-coverage

      - name: Upload coverage
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
