name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

env:
  FORCE_COLOR: 3

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  release:
    if: startsWith(github.ref, 'refs/tags/v')
    name: Build and release
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ github.token }}
    steps:
      - name: Install optipng
        run: apt-get install -y optipng

      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: |
          npm run build-browser
          npm run build-node
          npm run test

      - name: Build
        run: npm run build

      - name: Tar sprites
        run: |
          cd release/sprites
          tar -cf - * | gzip -9 > ../sprites.tar.gz

      - name: Get version
        run: 'echo "RELEASE_TAG=v$(jq -r ''.version'' package.json)" >> $GITHUB_ENV'

      - name: Upload file to release
        run: gh release upload $RELEASE_TAG sprites.tar.gz styles.tar.gz versatiles-style.tar.gz --clobber
        working-directory: release

      - name: Update release
        run: gh release edit $RELEASE_TAG --draft=false --latest --prerelease=false

  docs:
    name: Build Documentation
    runs-on: macos-latest

    steps:
      - name: Install optipng
        run: brew install optipng
        
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Generate Documentation
        run: npm run doc-typescript

      - name: Generate Screenshots
        run: npm run doc-screenshots

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: "docs"

  deploy:
    name: Deploy Documentation
    
    needs: docs

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
